{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'navbar.html' %}
{% load crispy_forms_tags %}

<!-- <div class="text-center">
  <h1>Post upload</h1>
  <div class="height-100 d-flex justify-content-center align-items-center">
    <button type="button" class="btn btn-primary modalTrigger" data-toggle="modal" data-target="#exampleModal">
      Launch modal
      </button>
  </div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
                Uploading a new photo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
        </div>
        <div class="modal-body">
            <p class="body-desc">You can upload the image in JPG, GIF or PNG format.</p>
            <form method = "POST" action = "" enctype="multipart/form-data">
              {% csrf_token %}
              {{ form|crispy}}
            </div> <button class="btn btn-primary btn-block confirm-button">Confirm</button>
            </form>
        </div>
        
    </div>
  </div>
</div> -->

<div class="container py-5">

  


  <div class="row">
    <div class="col-lg-7 mx-auto">
      <div class="bg-white rounded-lg shadow-sm p-5">
        <h1>Post</h1>
        <!-- End -->

        <div class="tab-content">

          <!-- credit card info-->
          <div id="nav-tab-card" >
            <!-- <p class="alert alert-success">Some text success or error</p> -->
            <!-- <p class="body-desc">You can upload the image in JPG, GIF or PNG format.</p> -->
            <form method = "POST" action = "" enctype="multipart/form-data">
              {% csrf_token %}
              {{ form|crispy}}
            </div> <button class="btn btn-primary btn-block confirm-button">Confirm</button>
            </form>
          </div>
          
          <!-- End -->
        </div>
        <!-- End -->

      </div>
    </div>
  </div>
</div>
{% endblock content %}