{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}


<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/home.css' %}">

{% include 'navbar.html' %}

<div class="container">
    <div class="row activity">
        <div class="col-md-6">
            <!-- left column -->

            <div class="panel panel-default">
                <div class="panel-heading">
                    <img src="{{ post.owner.image.url }}" class="user-profile">
                    {% if post.owner == request.user.profile %}
                    <div class="pull-right text-right">
                        <button type="button" class="btn btn-light"><span class="bi bi-three-dots-vertical"></span></button>
                        <div class="menu-nav">
                            <!-- <div class="menu-item">click the 3 dots=></div> -->
                            <div class="dropdown-container" tabindex="-1">
                              <div class="three-dots"></div>
                              <div class="dropdown">
                                <a href="{% url 'postUpdate' post.pk %}"><div>Edit</div></a>
                                <a href="{% url 'postDelete' post.pk %}"><div>Delete</div></a>
                              </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    
                    
                    <a href="{% url 'profileVisit' post.owner.pk %}">
                        <div><strong>{{ post.owner }}</strong></div>
                    </a>
                    <div class="small"><i class="fa fa-map-marker"></i>{{ post.date_posted }}</div>
                    <!-- <div class="small"><i class="fa fa-map-marker"></i> Medellin, Colombia</div> -->
                </div>
                <div class="panel-body">
                    <p>{{ post.detail }}</p>
                    <div class="video-container">
                        <image src="{{ post.image.url }}" width="524" frameborder="0"></image>
                    </div>
                    
                    <div class="actions">
                        <div class="btn-group">
                            <form action = "{% url 'likePost' post.pk %}" method="POST">
                                {% csrf_token %}
                                
                                {% if liked %}
                                <button type="submit" class="btn btn-link" name="post_id" value="{{post.id}}"><i class="fa fa-thumbs-o-up"></i> Liked</button>
                                {% else %}
                                <button type="submit" class="btn btn-link" name="post_id" value="{{post.id}}"><i class="fa fa-thumbs-o-up"></i> Like</button>
                                {% endif %}
                            </form>
                        </div>
                        <div class="pull-right"><strong>{{post.likes.count}}</strong> Likes</div>      
                    </div>  
                    
                </div>
            </div>
            
            
            
            
        </div><!--/.col-->
        <div class="col-md-6">
            <!-- right column -->


            <div class="panel panel-default">
                <div class="panel-heading">
                    <!-- <img src="{{ post.owner.image.url }}" class="user-profile">
                    <div><strong>{{ post.owner }}</strong></div> -->
                    <div><strong>Comments</strong></div>
                </div>
                <div class="panel-body">
                    <!-- <p>Comments</p> -->
                    
                    {% if not post.comments.all %}
                    <h3> No comments yet</h3>
                    {% else %}
                        {% for comment in post.comments.all %}
                            <div class="media">
                                <div class="media-body">
                                    <div class="pull-right small">{{ comment.date_added }}</div>
                                    <h4 class="media-heading">@{{ comment.user }}</h4>
                                    <p>{{ comment.body}}</p>
                                </div>
                            </div>
                        {% endfor %}
                        <hr size="8" width="98%" color="gray"> 
                    {% endif %}
                    <!-- <br> -->
                <div class="panel-footer">
                    <div class="d-flex flex-row add-comment-section mt-4 mb-4">
                        <!-- <img class="img-fluid img-responsive rounded-circle mr-2" src="https://i.imgur.com/qdiP4DB.jpg" width="38"> -->
                        
                        <!-- <input type="text" class="form-control mr-3" placeholder="Add comment">
                        <button class="btn btn-primary" type="button">Comment</button> -->

                        <a href="{% url 'commentPost' post.pk %}">
                            <form method="POST">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button class="btn btn-primary" type="button">Post</button>
                            </form>
                        </a>
                        
                    </div>
                    <!-- <input type="email" class="form-control" placeholder="Write a comment..."> -->
                    <!-- <div class="d-grid gap-2">
                        <a href="{% url 'commentPost' post.pk %}"></a>
                        <form method="POST">
                            {% csrf_token %}
                            {{form|crispy}}
                            <button class="btn btn-primary" type="button">Post</button>
                        </form>
                        
                      </div> -->
                </div>
            </div>


        </div><!--/.col-->
        
    </div>
</div>




{% endblock %}