{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css"/>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<link rel="stylesheet" href="{% static 'css/profilevisit.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">

{% include 'navbar.html' %}

<div class="container bootstrap snippets bootdey">
    <div class="col-md-12">
        <div class="profile-container">
            <div class="profile-header row">
                <div class="col-md-4 col-sm-12 text-center">
                  <img src="{{ object.image.url }}" class="user-profile" height="150px">
                </div>
                <div class="col-md-8 col-sm-12 profile-info">
                    <div class="header-fullname">{{object}}</div>
                    {% if object != request.user.profile %}
                    <form action = "{% url 'follow' object.pk %}" method="POST">
                        {% csrf_token %}
                        {% if request.user not in object.followers.all %}
                        <button type="submit" class="btn btn-default shiny btn-sm  btn-follow" name="profile_id" value="{{object.id}}"> follow</button>
                        {% else %}
                        <button type="submit" class="btn btn-default shiny btn-sm  btn-follow" name="profile_id" value="{{object.id}}"> unfollow</button>
                        {% endif %}
                    </form>
                    {% endif %}
                    
                    <div class="header-information">
                      {{object.bio}}
                    </div>
                </div>
                
                <div class="col-md-12 col-sm-12 col-xs-12 profile-stats">
                    
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-12 stats-col">
                            <div class="stats-value">{{ object.following.count }}</div>
                            <div class="stats-title">FOLLOWING</div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 stats-col">
                            <div class="stats-value">{{followers}}</div>
                            <div class="stats-title">FOLLOWERS</div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 stats-col">
                            <div class="stats-value">{{post_count}}</div>
                            <div class="stats-title">POSTS</div>
                        </div>
                    </div>
                </div>
            </div>   
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
    <div align="center">
        {%if posts or tickets%}
            <button class="filter-button" data-filter="all">all</button>
            <button class="filter-button" data-filter="category1">Posts</button>
            <button class="filter-button" data-filter="category2">Tickets</button>
        {% else %}
        <h1>User has no tickets or posts yet</h1>
        {% endif %}
    </div>
    
    <br/>
    {% for post in posts %}
      <div class="gallery_product col-lg-4 col-sm-6 filter category1">
          <div class="thumbnail img-responsive">
              <a class="fancybox" rel="ligthbox" href="{% url 'postDetail' post.pk %}">
                <div class="prof_image">
                  <img class="img-responsive" alt="" src="{{post.image.url}}" />
                </div>
              </a>
          </div>
      </div>
    {% endfor %}
  
    {% for ticket in tickets %}
    <div class="gallery_product col-lg-4 col-sm-6 filter category2">
        <div class="thumbnail img-responsive">
            <a class="fancybox" rel="ligthbox" href="{% url 'ticketDetail' ticket.pk %}">
            <div class="prof_image">
                <img class="img-responsive" alt="" src="{{ticket.image.url}}" />
            </div>
            </a>
        </div>
    </div>
    {% endfor %}
              

<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.js"></script>
<script src="{% static 'js/prof.js' %}"></script>
{% endblock content %}