{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">

{% include 'navbar.html' %}

<div class="container bootstrap snippets bootdey">
    <div class="col-md-12">
        <div class="profile-container">
            <div class="profile-header row">
                <div class="col-md-4 col-sm-12 text-center">
                  <img src="{{ user.profile.image.url }}" class="user-profile">
                </div>
                <div class="col-md-8 col-sm-12 profile-info">
                    <div class="header-fullname">{{user.username}}</div>
                    <a href="{% url 'profileUpdate' %}" class="btn btn-default shiny btn-sm  btn-follow">
                        <!-- <i class="fa fa-check"></i> -->
                        Update profile
                    </a>
                    <div class="header-information">
                      {{user.profile.bio}}
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 profile-stats">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-12 stats-col">
                            <div class="stats-value">284</div>
                            <div class="stats-title">FOLLOWING</div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 stats-col">
                            <div class="stats-value">803</div>
                            <div class="stats-title">FOLLOWERS</div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 stats-col">
                            <div class="stats-value">9</div>
                            <div class="stats-title">POSTS</div>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-4 inlinestats-col">
                            <i class="glyphicon glyphicon-map-marker"></i> Boston
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4 inlinestats-col">
                            Rate: <strong>$250</strong>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4 inlinestats-col">
                            Age: <strong>24</strong>
                        </div>
                    </div> -->
                </div>
            </div>   
        </div>
    </div>
</div>

  
      

    
      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- Leave those next 4 lines if you care about users using IE8 -->
      <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

    

    
        <div class="container">
          <h1>Posts</h1>
          <hr>
            <div class="row">
              <div class="col-lg-4 col-sm-6">
                <div class="thumbnail img-responsive">
                  <a href="#" title="Image 1"><img src="{{ user.post.image.url }}"> </a>
                </div>
              </div>
              <div class="col-lg-4 col-sm-6">
                <div class="thumbnail img-responsive">
                  <a href="#" title="Image 1"><img src="https://images.unsplash.com/photo-1523357585206-175e971f2ad9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4d4e050da1c691f01f0643abe9cd5f94&auto=format&fit=crop&w=500&q=60"></a>
                </div>
              </div>
              <div class="col-lg-4 col-sm-6 ">
                <div class="thumbnail">
                  <a href="#" title="Image 1"><img src="https://images.unsplash.com/photo-1523359366921-4c14294ff5bd?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6010b5b8bc1f6916d652fb48b9e039a6&auto=format&fit=crop&w=500&q=60"></a>
                </div>
              </div>
              <div class="col-lg-4 col-sm-6">
                <div class="thumbnail img-responsive">
                  <a href="#" title="Image 1"><img src="https://images.unsplash.com/photo-1523282310917-57c94215f54f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9562049492c4c1c28014be6b4d372fa8&auto=format&fit=crop&w=500&q=60"></a>
                </div>
              </div>
              <div class="col-lg-4 col-sm-6">
                <div class="thumbnail img-responsive">
                  <a href="#" title="Image 1"><img src="https://images.unsplash.com/photo-1523279719030-9806e8392152?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=83ec2854d04d0f08312dec44bf645e2d&auto=format&fit=crop&w=500&q=60"></a>
                </div>
              </div>
              <div class="col-lg-4 col-sm-6">
                <div class="thumbnail img-responsive">
                  <a href="#" title="Image 1"><img src="https://images.unsplash.com/photo-1523264629844-40dd6bf17c2b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c7ff0286ae72f4dfed2bfee5fc8a53fe&auto=format&fit=crop&w=500&q=60"></a>
                </div>
              </div>
              <div class="col-lg-4 col-sm-6">
                <div class="thumbnail img-responsive">
                  <a href="#" title="Image 1"><img src="https://images.unsplash.com/photo-1523133892278-d324fa6b326b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1ba6e3178a138e7dcbdd241499378449&auto=format&fit=crop&w=500&q=60"></a>
                </div>
              </div>
              <div class="col-lg-4 col-sm-6">
                <div class="thumbnail img-responsive">
                  <a href="#" title="Image 1"><img src="https://images.unsplash.com/photo-1523326350151-473dc3e5215b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=aa765415933dbcd55bc27e0726bfd1f5&auto=format&fit=crop&w=500&q=60"></a>
                </div>
              </div>
              <div class="col-lg-4 col-sm-6">
                <div class="thumbnail img-responsive">
                  <a href="#" title="Image 1"><img src="https://images.unsplash.com/photo-1523086686757-5cda47c78492?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0da31c54dc3e5fd28da519b2cde2c98d&auto=format&fit=crop&w=500&q=60"></a>
                </div>
              </div>
            </div>
          </div>
          <div id="modal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
                </div>
                <div class="modal-body">
                </div>
              </div>
            </div>
          </div>
              
{% endblock content %}