{% extends 'base.html' %}
{% load static %}
{% block content %}





<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" rel="stylesheet">



<link rel="stylesheet" href="{% static 'css/profilevisit.css' %}">


{% include 'navbar.html' %}



  
<div class="container">
  <div class="row">
  <div align="center">
    <a href = "{% url 'ticket' %}">
    <button class="filter-button">Tickets</button>
    </a>
    <a href = "{% url 'ticketWishlist' %}">
    <button class="filter-button">Ticket wishlist</button>
    </a>
    <a href = "{% url 'myTickets' %}">
      <button class="filter-button">My Tickets</button>
    </a>
  </div>
  
  <br/>
  
  

  <div class="gallery_product container mt-5 mb-5 filter category2">
    <div class="d-flex justify-content-center row">
      <div class="col-md-10" id="wishlistclass">
        {% for ticket in wishlist %}
          <div class="row p-2 bg-white border rounded" >
            <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="{{ticket.ticket.image.url}}"></div>
              <div class="col-md-6 mt-1">
                  <h5>{{ticket.ticket.title}}</h5>
                  <p>{{ticket.ticket.detail}}</p>
                  <br>
                  <p>Tickets from <a href="{% url 'profileVisit' ticket.ticket.seller.pk %}">{{ticket.ticket.seller}}</a></p>
              </div>
              <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                <div class="mt-3 mt-lg-0 ml-lg-3 text-center">
                  <h3 class="mb-0 font-weight-semibold">${{ticket.ticket.price}}</h3>
                  <div class="text-muted">{{ticket.ticket.date}}</div>
                  <a href="{% url 'ticketDetail' ticket.ticket.pk %}">
                      <button type="button" class="btn btn-warning mt-4 text-white">Check Details</button>
                  </a>
                  <br>
                    <button class="btn btn-info mt-2 btn-sm remove-wishlist" type="button" pid="{{ticket.ticket.pk}}">Remove wishlist</button>
                    <br><br>
                </div>
              </div>
          </div>
          <br>
        {% endfor %}
      </div>
    </div>
    
  </div>



{% endblock %}
