{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/ticket.css' %}">
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>


{% include 'navbar.html' %}
<div class="container">
    <!-- product -->
    <div class="product-content product-wrap clearfix product-deatil">
        <div class="row">
            <div class="col-md-5 col-sm-12 col-xs-12">
                <div class="product-image">
                    <div id="myCarousel-2" class="carousel slide">
                        <div class="carousel-inner">
                            <!-- Slide 1 -->
                            <div class="item active">
                                <img src="{{ticket.image.url}}" class="img-responsive" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-md-offset-1 col-sm-12 col-xs-12">
                <div class="pull-right text-right">
                    {% if ticket.seller == request.user.profile%}
                    <button type="button" class="btn btn-light">
                        <span class="bi bi-three-dots-vertical">
                        </span>
                    </button>
                    <div class="menu-nav">
                        <div class="dropdown-container" tabindex="-1">
                          <div class="three-dots"></div>
                          <div class="dropdown">
                            <a href="{% url 'ticketUpdate' ticket.pk %}"><div>Edit</div></a>
                            <a href="{% url 'ticketDelete' ticket.pk %}"><div>Delete</div></a>
                          </div>
                        </div>
                    </div>
                    
                    {% endif %}
                </div>
                <h2 class="name">
                    {{ticket.title}}
                    <p>
                        {{ticket.date}}
                    </p>
                    <small>Tickets from <a href="{% url 'profileVisit' ticket.seller.pk %}">{{ticket.seller}}</a></small>
                    <br>
                    <span class="fa fa-2x"><h4>Buy tickets before {{ticket.ex_date}}</h4></span>
                    <span class="fa fa-2x"><h4>|| {{ticket.quantity}} tickets left</h4></span>
                </h2>
                <hr />
                <div class="description description-tabs">
                    <!-- <ul id="myTab" class="nav nav-pills">
                        <li class="active"><a href="#more-information" data-toggle="tab" class="no-margin">Product Description </a></li>
                    </ul> -->
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade active in" id="more-information">
                            <br />
                            <strong>Description</strong>
                            <p>
                                {{ticket.detail}}
                            </p>
                        </div>
                    </div>
                </div>
                <hr/>
                <h3 class="price-container">
                    ${{ticket.price}}
                </h3>
                <div class="certified">
                    <!-- <ul>
                        <li>
                            <a href="javascript:void(0);">Delivery time<span>7 Working Days</span></a> 
                        </li>
                        <li>
                            <a href="javascript:void(0);">Certified<span>Quality Assured</span></a>
                        </li>
                    </ul> -->
                    <form action="{% url 'orderTicket' ticket.pk %}">
                        <span class = "dec qtybtn decrement-btn" style="cursor:pointer">-</span>
                        <input type="text" name="quantity" class="qty-input" value="1" id="quantity">
                        <span class="dec qtybtn increment-btn" pid="{{product.quantity}}" style="cursor:pointer">+</span>
                        <br>
                        <button type="submit" class="btn btn-success btn-lg">Purchase ticket</button>
                    </form>
                    <div class="btn-group pull-right">
                        <div>
                            <button class="btn btn-white btn-default add-wishlist" data-ticket="{{ticket.pk}}"><i class="fa fa-star"></i> Add to wishlist</button>
                        </div>
                        <!-- <button class="btn btn-white btn-default"><i class="fa fa-envelope"></i> Seller Profile</button> -->
                    </div>
                </div>
                <!-- <hr /> -->
                
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <!-- <a href="{% url 'orderTicket' ticket.pk %}" class="btn btn-success btn-lg">Purchase ticket</a> -->
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end product -->
</div>
        
{% endblock content %}