

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


*:focus{
  outline: none;
}

body{
  width: 100%;
  background: #fafafa;
  position: relative;
  /* font-family: 'roboto', sans-serif; */
}
.ticket{
  margin-bottom: 4px;
}
.navbar{
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #fff;
  border-bottom: 1px solid #dfdfdf;
  display: flex;
  justify-content: center;
  padding: 5px 0;
  margin-bottom: 10px;
  z-index: 1;
}
.nav-wrapper{
 width: 70%;
 max-width: 1000px;
 height: 100%;
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.brand-img{
 height: 100%;
 margin-top: 5px;
}
.nav-items{
 height: 22px;
 position: relative;
}
.icon{
 height: 100%;
 cursor: pointer;
 margin: 0 10px;
 display: flex;
}

.user-profile{
  background-size: cover;
  border-radius: 50%;
  clip-path: circle();
}
.tdm{
  height: 5px;
  position: relative;
 }



@media (max-width: 1100px){
  /* .right-col, .search-box{
      display: none;
  } */
  .nav-wrapper,
  .wrapper{
      width: 90%;
  }
  .wrapper{
      display: block;
  }
}

@media (max-width: 500px){
  .nav-items .icon{
      margin: 0 5px;
  }
  post-image{
      height: 300px;
  }
}

