{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/home.css' %}">

{% include 'navbar.html' %}

<div class="container">
    <div class="row activity">
        <div class="col-md-6">
            <!-- left column -->
            {% for post in posts %}
            
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <img src="{{ post.owner.image.url }}" class="user-profile">
                        <div class="pull-right text-right">
                            <i class="fa fa-calendar"></i><br> {{ post.date_posted }}
                        </div>
                        <div><strong>{{ post.owner }}</strong></div>
                        <!-- <div class="small"><i class="fa fa-map-marker"></i> Medellin, Colombia</div> -->
                    </div>
                    <div class="panel-body">
                        <p>{{ post.detail }}</p>
                        <div class="video-container">
                            <image src="{{ post.image.url }}" width="524" frameborder="0"></image>
                        </div>
                        
                        <div class="actions">
                            <div class="btn-group">
                                <button type="button" class="btn btn-link"><i class="fa fa-thumbs-o-up"></i> Like</button>
                                <button type="button" class="btn btn-link"><i class="fa fa-share"></i> Share</button>
                            </div>
                            <div class="pull-right"><strong>1.789</strong> Likes</div>      
                        </div>  
                        
                        <!-- commentsection -->

                        <!-- <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object img-rounded" src="https://bootdey.com/img/Content/avatar/avatar1.png">
                            </a>
                            <div class="media-body">
                                <div class="pull-right small">3 hours ago</div>
                                <h4 class="media-heading">Media heading</h4>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                            </div>
                        </div> -->
                    </div>
                    <div class="panel-footer">
                        <input type="email" class="form-control" placeholder="Write a comment...">
                    </div>
                </div>
            {% endfor %}
                
        </div>
        <!--/.col-->
        <div class="col-md-6">
            <!-- right column -->

            {% for ticket in tickets %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <img src="{{ ticket.seller.image.url }}" class="user-profile">
                        <div class="pull-right text-right">
                            <i class="fa fa-calendar"></i><br> {{ ticket.created_at}}
                        </div>
                        <div><strong>{{ ticket.seller }}</strong></div>
                        <div class="small"><i></i>Price: {{ ticket.price }}</div>
                    </div>
                    <div class="panel-body">
                        <p>{{ ticket.title }}</p>
                        <blockquote>{{ ticket.detail }}</blockquote>
                    </div>
                </div>
            {% endfor %}

        </div><!--/.col-->
        
    </div>
</div>



{% endblock %}