{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/home.css' %}">

{% include 'navbar.html' %}
{% if posts or tickets %}
<div class="container">
    <div class="row activity">
        <div class="col-md-6">
            <!-- left column -->
            
            {% for post in posts %}
            
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <img src="{{ post.owner.image.url }}" class="user-profile">
                        <!-- <div class="pull-right text-right">
                            <i class="fa fa-calendar"></i><br> {{ post.date_posted }}
                        </div> -->
                        <a href="{% url 'profileVisit' post.owner.pk %}">
                            <div><strong>{{ post.owner }}</strong></div>
                        </a>
                        <!-- <div><strong>{{ post.owner }}</strong></div> -->
                        <div class="small">{{ post.date_posted }}</div>
                    </div>
                    <div class="panel-body">
                        <p>{{ post.detail }}</p>
                        <div class="video-container">
                            <a href="{% url 'postDetail' post.pk %}">
                                <image src="{{ post.image.url }}" width="524" frameborder="0"></image>
                            </a>
                        </div>
                        
                        <div class="actions">
                            <div class="btn-group">
                                <form action = "{% url 'likePost' post.pk %}" method="POST">
                                    {% csrf_token %}
                                    
                                    {% if liked %}
                                    <button type="submit" class="btn btn-link" name="post_id" value="{{post.id}}"><i class="fa fa-thumbs-o-up"></i> Liked</button>
                                    {% else %}
                                    <button type="submit" class="btn btn-link" name="post_id" value="{{post.id}}"><i class="fa fa-thumbs-o-up"></i> Like</button>
                                    {% endif %}
                                </form>
                                <a href="{% url 'postDetail' post.pk %}">
                                    <button type="button" class="btn btn-link"><i class="fa fa-comment"></i> Comment</button>
                                </a>
                            </div>
                            <div class="pull-right"><strong>{{post.likes.count}}</strong> Likes</div>
                        </div>  
                        
                        <!-- commentsection -->

                        <!-- <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object img-rounded" src="https://bootdey.com/img/Content/avatar/avatar1.png">
                            </a>
                            <div class="media-body">
                                <div class="pull-right small">3 hours ago</div>
                                <h4 class="media-heading">Media heading</h4>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                            </div>
                        </div> -->
                    </div>
                    <!-- <div class="panel-footer">
                        <input type="email" class="form-control" placeholder="Write a comment...">
                    </div> -->
                </div>
            {% endfor %}
                
        </div>
        <!--/.col-->
        <div class="col-md-6">
            <!-- right column -->
            <div class="d-flex justify-content-center row">
                {% for ticket in tickets %}
                    <div class = "ticket">
                        <div class="card card-body">
                            <div class="media align-items-center align-items-lg-start text-center text-lg-left flex-column flex-lg-row">
                                <div class="tp">
                                    <div class="mr-2 mb-3 mb-lg-0"> <img src="{{ticket.image.url}}" width="150" height="150" alt=""> </div>
                                </div>
                                
                                <div class="media-body">
                                    <h6 class="media-title font-weight-semibold"> <a href="#" data-abc="true">{{ticket.title}}</a> </h6>
                                    <!-- <ul class="list-inline list-inline-dotted mb-3 mb-lg-2">
                                        <li class="list-inline-item"><a href="#" class="text-muted" data-abc="true">Phones</a></li>
                                        <li class="list-inline-item"><a href="#" class="text-muted" data-abc="true">Mobiles</a></li>
                                    </ul> -->
                                    <p class="text-justify">{{ticket.detail}}</p>
                                    <ul class="list-inline list-inline-dotted mb-0">
                                        <li class="list-inline-item">Tickets from <a href="{% url 'profileVisit' ticket.seller.pk %}" data-abc="true">{{ticket.seller}}</a></li>
                                        <!-- <li class="list-inline-item">Add to <a href="{% url 'ticketDetail' ticket.pk %}" data-abc="true">wishlist</a></li> -->
                                    </ul>
                                </div>
                                <div class="mt-3 mt-lg-0 ml-lg-3 text-center">
                                    <h3 class="mb-0 font-weight-semibold">${{ticket.price}}</h3>
                                    <!-- <div> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div> -->
                                    <div class="text-muted">{{ticket.date}}</div>
                                    <a href="{% url 'ticketDetail' ticket.pk %}">
                                        <button type="button" class="btn btn-warning mt-4 text-white">Check Details</button>
                                    </a>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                
            </div>
            

            

            <!-- {% for ticket in tickets %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <img src="{{ ticket.seller.image.url }}" class="user-profile">
                        <div class="pull-right text-right">
                            <div class="Big">Price: {{ ticket.price }}</div>
                        </div>
                        <div><strong>{{ ticket.seller }}</strong></div>
                        <div class="small">{{ ticket.created_at}}</div>
                        
                    </div>
                    <div class="panel-body">
                        <p>{{ ticket.title }}</p>
                        <blockquote>{{ ticket.detail }}</blockquote>
                    </div>
                </div>
            {% endfor %} -->

        </div><!--/.col-->
        
    </div>
</div>

{% else %}
<div align="center">
    <h3>Follow users to start seeing posts/tickets in your feed</h3>
</div>

{% endif %}

{% endblock %}