{% load static %}
<nav class = "navbar">
    <div class ="nav-wrapper">
        <a href="{% url 'main' %}">
            <img src="{% static 'img/logo.PNG' %}" class="brand-img" alt="" height="50px" width="150px">
        </a>
        <!-- <input type="text" class="search-box" placeholder="search"> -->
        <div class="nav-items">
            <a href="{% url 'main' %}"><img src ="{% static 'img/home.PNG' %}" class="icon" alt=""></a>
            <img src ="{% static 'img/messenger.PNG' %}" class="icon" alt="">
            <img src ="{% static 'img/add.PNG' %}" class="icon" alt="">
            <a href="{% url 'ticket' %}">
                <img src ="{% static 'img/ticket.PNG' %}" class="icon" alt="">
            </a>
            <img src ="{% static 'img/like.PNG' %}" class="icon" alt="">   
            <a href="{% url 'profile' %}"><div class = "icon user-profile">
                <img src="{{ user.profile.image.url }}" class="icon" alt=""></div>
            </a>
        </div>
    </div>
</nav>
