{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'navbar.html' %}
<link rel="stylesheet" href="{% static 'css/ticket.css' %}">
    <section class="wrapper2">
        <div class="container">
          <div class="row">
            {% for ticket in tickets %}
              <div class="col-md-4">
                <div class="card text-white card-has-bg click-col">
                  <img class="card-img d-none" src="{{ticket.image}}" alt="ticketbg">
                  <div class="card-img-overlay d-flex flex-column">
                    <div class="card-body">
                      <small class="card-meta mb-2">{{ticket.title}}</small>
                      <h4 class="card-title mt-0 "><a class="text-white" herf="#">New Years with Albatross and Jindabaad</a></h4>
                      <small><i class="far fa-clock"></i> {{ticket.date}}</small>
                    </div>
                    <div class="card-footer">
                      <div class="media">
                        <img class="mr-3 rounded-circle" src="{{ticket.seller.image.url}}" alt="sellerimage" style="max-width:50px">
                        <div class="media-body">
                          <h6 class="my-0 text-white d-block">{{ticket.seller}}</h6>
                          <small>{{ticket.price}}</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </section>


    {% endblock %}
