{% extends 'base.html' %}
{% load static %}
{% block content %}
    <title>Password Reset</title>
    <link href="{% static 'css/reg.css' %}" rel="stylesheet">
    <link href = "https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
 
      <body class="text-center">
        <div class="container mt-5 mb-5 d-flex justify-content-center">
          <div class="card px-1 py-4">
              <div class="card-body">
                <img class="mb-4" src="{% static 'img/logo.PNG' %}" alt="" width="350" height="110">
                  <h6 class="information mt-4">Password reset</h6>
                  <form method = "POST" action = "">
                  {% csrf_token %}
                  <div class="row">
                      <div class="col-sm-12">
                        {% for fm in form %}
                        <div class="form-group">
                          {{fm}} <small class = "text-danger" id="errortext">{{fm.errors|striptags}}</small>
                        </div>
                        {% endfor %}
                  </div>
                  <!-- <div class=" d-flex flex-column text-center px-5 mt-3 mb-3"> <small class="agree-text">Dont have an account created yet?</small> <a href="{% url 'register' %}" class="terms">Create account</a> </div> -->
                  <button class="btn btn-primary btn-block confirm-button">Confirm</button>
                </form>
              </div>
          </div>
      </body>
{% endblock content %}
