{% load static %}
{% block content %}
{% load crispy_forms_tags %}

    <title>Reset Confirm</title>
    <link href="{% static 'css/reg.css' %}" rel="stylesheet">
    <link href = "https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
      

        
      <body class="text-center">
      <div class="container mt-5 mb-5 d-flex justify-content-center">
        <div class="card px-1 py-4">
            <div class="card-body">
              <img class="mb-4" src="{% static 'img/logo.PNG' %}" alt="" width="350" height="110">
                <h6 class="information mt-4">Password resetss</h6>
                <form method = "POST" action = "">
                {% csrf_token %}
                <div class="row">
                    <div class="col-sm-12">
                        
                        <div class="form-group">
                          {{ form|crispy }}
                        </div>
                        
                        {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                            <p class="alert alert-danger my-3">{{error}}</p>
                        {% endfor %}
                        {% endif %}
                </div>

                <button class="btn btn-primary btn-block confirm-button" style="margin-top: 10px;">Confirm</button>
              </form>
            </div>
        </div>
    </div>
</div>
    </body>
{% endblock content %}

