{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
{% include 'navbar.html' %}
<link href="{% static 'css/reg.css' %}" rel="stylesheet">
<link href = "https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
<link href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<body class="text-center">
  <div class="container mt-5 mb-5 d-flex justify-content-center">
    <div class="card px-1 py-4">
        <div class="card-body">
          <img class="mb-4" src="{% static 'img/logo.PNG' %}" alt="" width="350" height="110">
          <form method="POST">
              {{ form | crispy }}
              <p><input type="submit" class="btn btn-primary btn-block confirm-button" value="Change"></p>
              {% csrf_token %}
          </form>
      </div>
    </div>
  </div>
</body>
{% endblock content %}