{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link href="{% static 'css/reg.css' %}" rel="stylesheet">
    <link href = "https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <body class="text-center">
      

        
        
        

        <div class="container mt-5 mb-5 d-flex justify-content-center">
          <div class="card px-1 py-4">
              <div class="card-body">
                <img class="mb-4" src="{% static 'img/logo.PNG' %}" alt="" width="350" height="110">
                <h6 class="information mt-4">Complete the form to create your account</h6>
                <form  method="post">
                  {% csrf_token %}
                <div class="form-group first">
                    {{ form.username }}
                </div>
                <div class="form-group first">
                    {{ form.email}}
                </div>
                <div class="form-group last mb-4">
                    {{ form.password1 }}
                </div>
                <div class="form-group last mb-4">
                    {{ form.password2 }}
                </div>
                <div class="d-flex mb-5 align-items-center">
                  <label class="control control--checkbox mb-0"><span class="caption">Register as manager</span>
                      {{ form.is_manager }}
                    <div class="control__indicator"></div>
                  </label>
                </div>
                <button class="btn btn-primary btn-block confirm-button">Register</button>
                <br>
                <small class = "text-danger" id = "errortext">{{form.errors}} </small>
                <div class=" d-flex flex-column text-center px-5 mt-3 mb-3"> <small class="agree-text">Already have an account?</small> <a href ="{% url 'login' %}" class="terms">Login</a>
              </form>
            </div>
          </div>
        </div>
      </div>

</div>
</body>
    {% endblock content %}
</html>
