{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/search.css' %}">

{% include 'navbar.html' %}

<div class="container">
    <div class="search-form">
        <form action="#" method="POST">
            {% csrf_token %}
            <div class="input-group">
                <input type="text" placeholder="Username" name="searched" class="form-control input-lg">
                <div class="input-group-btn">
                    <button class="btn btn-lg btn-primary" type="submit">
                        Search
                    </button>
                </div>
            </div>
        </form>
    </div>

    

    
    <div class="row">
            <div class="col-12">
                <div class="card card-margin">
                    <div class="card-body">
                        <div class="row search-body">
                            <div class="col-lg-12">
                                <div class="search-result">
                                    
                                    <div class="result-body">
                                        <div class="table-responsive">
                                            <table class="table widget-26">
                                                <tbody>
                                                    

                                                    {% if searched %}
                                                    <p>you searched for '{{searched}}'</p>
                                                        {% if results %}
                                                        {% for user in results %}
                                                        <tr>
                                                            <td>
                                                                <div class="widget-26-job-emp-img">
                                                                    <img src="{{ user.profile.image.url}}" alt="Company" />
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="widget-26-job-title">
                                                                    <a href="{% url 'profileVisit' user.profile.pk %}">{{ user.username }}</a>
                                                                </div>
                                                            </td>

                                                            {% if user.is_manager %}
                                                                <td>
                                                                    <div class="widget-26-job-category">
                                                                        <span>Manager</span>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                            {% else %}
                                                            <td>
                                                                <div class="widget-26-job-category">
                                                                    <span>User</span>
                                                                </div>
                                                            </td>
                                                            <td>
                                                            {% endif %}

                                                            
                                                                
                                                            </td>
                                                        </tr>
                                                        {% endfor %}
                                                        {% else %}
                                                        <p>no users found</p>
                                                        {% endif %}
                                                    {% endif %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    




{% endblock %}