{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'navbar.html' %}
{% load crispy_forms_tags %}

<div class="text-center">
  <h1>Issue Ticket</h1>
  <div class="height-100 d-flex justify-content-center align-items-center">
    <button type="button" class="btn btn-primary modalTrigger" data-toggle="modal" data-target="#exampleModal">
      Launch modal
      </button>
  </div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
                Issuing a new ticket</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
        </div>
        <div class="modal-body">
            <p class="body-desc">You can upload the image in JPG, GIF or PNG format.</p>
            <form method = "POST" action = "" enctype="multipart/form-data">
              {% csrf_token %}
              {{ form|crispy}}
            </div> <button class="btn btn-primary btn-block confirm-button">Confirm</button>
            </form>
            <!-- <div class="photo-input"> <input type="file" id="loadFile" onchange="console.log(this.files[0].name);" /> <button class="btn btn-sm btn-primary" onclick="document.getElementById('loadFile').click()"> Upload a picture </button> </div> -->
        </div>
        <!-- <div class="modal-footer">
            <p class="footer-title">If you're having problems uploading, try choosing a smaller photo.</p>
        </div> -->
    </div>
  </div>
</div>
{% endblock content %}