{% extends 'base.html' %}


{% block title %}User Account Delete{% endblock title %}

{% block content %}
    



    <div class="container py-5">
        <div class="row">
          <div class="col-lg-7 mx-auto">
            <div class="bg-white rounded-lg shadow-sm p-5">
                <h2>Delete account?</h2>
              <div class="tab-content">
                <div id="nav-tab-card" >
                    {% if user.is_authenticated %}
                    <form method="post">
                        {% csrf_token %}
                        <p>Are you sure you want to delete your account?</p>
                        <input type="submit" class="btn btn-danger btn-rounded" value="Confirm">
                        <a href="{{request.META.HTTP_REFERER}}">
                          <button type="button" class="btn btn-default">Cancel</button>
                        </a>
                    </form>
                    {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock content %}

